{% extends 'lab3/base.html' %}

{% block content %}
<div class="row box-3">
    <div class="col">
        <form action="/auth" method="POST">
            {% csrf_token %}
            <h2 class="text-center">Login</h2>
            <br>
            <div class="form-floating mb-3 box-4">
                {{ form.email }}
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3 box-4">
                {{ form.password }}
                <label for="floatingInput">Password</label>
            </div>
            <br>
            <button type="submit" class="btn btn-1">Log in</button>
        </form>
    </div>
</div>
<div class="container rounded bg-color-3 box-1 mt-5">
    <p>Do not have an account? You can <a href="register" class="btn fg-color-3">Register</a></p>
</div>
{% endblock content %}

{% block page_script %}
{% load static %}
<script type="module" src="{% static 'lab3/js/login.js' %}"></script>
{% endblock page_script %}

{% block user_links %}
{% endblock user_links %}