{% extends 'lab3/base.html' %}

{% block content %}
<div class="row box-3">
    <div class="col">
        <div class="border border-dark rounded-1 box-2">
            <div class="row">
                <div class="col"><h2>Profile</h2></div>
            </div>
            <div class="row">
                <div class="col"><p>Email</p></div>
                <div class="col"><p>{{email}}</p></div>
            </div>
            <div class="row">
                <div class="col"><p>Gender</p></div>
                <div class="col"><p>{{gender}}</p></div>
            </div>
            <div class="row">
                <div class="col"><p>Birth date</p></div>
                <div class="col"><p>{{bdate}}</p></div>
            </div>
            <form action="/change-pass" method="POST">
                {% csrf_token %}
                <div class="input-group plc-1 prc-1 min-vw-65">
                    <div class="form-floating mb-3">
                        {{ form.password1 }}
                        <label for="floatingInput">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password2 }}
                        <label for="floatingInput">Confirm password</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {% if hash != None %}
                        <button type="submit" class="btn btn-1">Change password</button>
                        {% else %}
                        <button type="submit" class="btn btn-1" disabled>Change password</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_script %}
{% load static %}
<script type="module" src="{% static 'lab3/js/profile.js' %}"></script>
{% endblock page_script %}

{% block user_links %}
<div class="prc-1 navbar-nav ml-auto" id="user-links">
    {% if hash == None %}
    <a class="plc-1 nav-item nav-link" href="login">Login</a>
    <a class="plc-1 nav-item nav-link" href="register">Register</a>
    {% else %}
    <a class="plc-1 nav-item nav-link" href="logout">Logout</a>
    {% endif %}
</div>
{% endblock user_links %}