{% extends 'lab3/base.html' %}

{% block content %}
<div class="row box-3">
    <div class="col">
        <form action="/registration" method="POST">
            {% csrf_token %}
            <h2 class="text-center">Registration</h2>
            <div class="form-floating mt-5 mb-3 box-4">
                {{ form.email }}
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mt-3 mb-3 box-4">
                {{ form.password1 }}
                <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating mb-3 box-4">
                {{ form.password2 }}
                <label for="floatingInput">Confirm password</label>
            </div>
            <div class="form-floating mb-3 label-1 box-4">
                {{ form.gender }}
                <label class="label-1" for="floatingSelect">Gender</label>
            </div>
            <div class="form-floating mb-3 label-1 box-4">
                {{ form.birthdate }}
                <label for="floatingInput">Birth date</label>
            </div>
            <button type="submit" class="btn btn-1 mt-5">Register</button>
        </form>
    </div>
</div>
<div class="container rounded bg-color-3 box-1 mt-5">
    <p>If you have an account, you can <a href="login.html" class="btn fg-color-3">Login</a></p>
</div>
{% endblock content %}

{% block page_script %}
{% load static %}
<script type="module" src="{% static 'lab3/js/register.js' %}"></script>
{% endblock page_script %}